body{
    margin: 0px;
    padding: 0px;
}
.Converter-body{
width: 400px;
height: 150px;
background: indianred;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
box-shadow: 0px 0px 4px 2px;
}
.Converter-title{
text-align: center;
margin: 13px 0px;
}
input{
    height: 24px;

}
#input{
    margin-left: 25px;
}
#inputType , #resultType{
    width: 170.66px;
    margin-left: 25px;
    color :black
}
#resultType{
    margin-left: 12.5px;
}

